<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Blogs</title>
    <link rel="stylesheet" href="Static\css\landing.css">
</head>

<body>
    <div class="wrapper">
        <section class="header" th:insert="/Sections/header :: header"></section>
        <section class="nav" th:insert="/Sections/nav :: nav"></section>
    
        <section class="content">
            <div class="masonryholder">
                <section class="masonryblocks">
                    <h2>Stupid Squirel</h2>
                    <li>Jake</li>
                    <ul>
                        <p>Squirel's have been eating my nutz all day.
                            I can't get rid of them to save my life. Please
                            burn me now and chop me up for fire wood.</p>
                        <li>Funny</li>
                        <li>Dark Humor</li>
                        <li>7/8/2019</li>
                    </ul>
                </section>
                <section class="masonryblocks">
                    <h2>Robby</h2>
                    <ul>
                        <p>Squirel's have been eating my nutz all day.
                            I can't get rid of them to save my life. Please
                            burn me now and chop me up for fire wood.</p>
                        <li>Funny</li>
                        <li>Dark Humor</li>
                    </ul>
                </section>
                <section class="masonryblocks">
                    <h2>Brian</h2>
                    <ul>
                        <p>Squirel's have been eating my nutz all day.
                            I can't get rid of them to save my life. Please
                            burn me now and chop me up for fire wood.;lkajdsf
                            ;lkasdflk;j ads;flkj a;sdlkfj a;dskflj asd;flkj
                            ;lkasjdf ;lkkasjdf ;lkasjdf ;lkjasdf ;lkasjdf ;lkjasdf
                            ;asdjf ;lkjasdf asd;flkj asdff;lkj; asdf;jlkl asdf;ljk asddf;lkj</p>
                        <li>Funny</li>
                        <li>Dark Humor</li>
                    </ul>
                </section>
            </div>
        </section>
        <section class="footer" th:insert="/Sections/footer :: footer"></section>
    </div>
</body>

</html>