<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <h1>Tree World</h1>
<div class = "posts">
    <h2>Jake</h2>
        <ul>
            <p>Squirel's have been eating my nutz all day.  
                I can't get rid of them to save my life.  Please
                burn me now and chop me up for fire wood.</p>
            <li>Funny</li>
            <li>Dark Humor</li>
        </ul>
    <h2>Robby</h2>
        <ul>
            <p>Squirel's have been eating my nutz all day.  
                I can't get rid of them to save my life.  Please
                burn me now and chop me up for fire wood.</p>
            <li>Funny</li>
            <li>Dark Humor</li>
        </ul>
    <h2>Brian</h2>
        <ul>
            <p>Squirel's have been eating my nutz all day.  
                I can't get rid of them to save my life.  Please
                burn me now and chop me up for fire wood.</p>
            <li>Funny</li>
            <li>Dark Humor</li>
        </ul>
    </div>
</body>
</html>