<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tree Blog Single Post</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/header-nav-footer.css">
        <link rel="stylesheet" href="/css/masonry-stylesheet.css">
    </head>

<body>
    <div class="wrapper">
        <section class="header" th:insert="/sections/header :: header"></section>
        <section class="nav" th:insert="/sections/nav :: nav"></section>

        <section class="content">
            <div class="masonryholder">
                <section class="masonryblocks">
                    <article class="masonryblocks__blog-item" th:each="blogPost : ${blogPosts}">
                        <section class="masonryblocks__blog-item__card">
                            <h2 class="masonryblocks__blog-item__blogPostTitle"><a th:text="${blogPost.blogPostTitle}" th:href="|../blogPosts/${blogPost.id}|">Default Blog Title</a></h2>
                            <h3 class="masonryblocks__blog-item__blogAuthor" th:text="${blogPost.blogAuthor.blogAuthorName}">Default Blog Author</h3>
                            <h4 class="masonryblocks__blog-item__blogBody" th:text="${blogPost.blogBody}">Default Blog Body</h4>
                            <h5 class="masonryblocks__blog-item__blogGenre" th:text="${blogPost.blogGenre.blogGenreName}">Default Blog Genre</h5>
                            <div class="masonryblocks__blog-item__blogTag" th:each="blogTag: ${blogPost.blogTags}">
                                <h5 class="masonryblocks__blog-item__blogTag-each" th:text="${blogTag.blogTagName}">Default Blog Tags</h5>
                            </div>
                            <h6 class="masonryblocks__blog-item__blogDateTime" th:text="${blogPost.blogDateTime}">4/14/14 14:44</h6>
                        </section>
                    </article>
                </section>
            </div>
        </section>

        <section class="footer" th:insert="/sections/footer :: footer"></section>
    </div>
</body>

</html>