* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    --brown: #9A6B4C;
    --blue: rgb(85, 186, 226);
    --green: #59AA44;
}

.content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    background-image: url("/images/cartoontree.png");
}

.masonryblocks__blog-item__blogAuthor{
    text-decoration-line: underline;
}

.masonryblocks__blog-item__blogBody{
    font-style: oblique;
}
.wrapper {
    display: grid;
    grid-template-areas: "header header" "nav content" "footer footer";
    grid-template-columns: 15% 1fr;
    grid-template-rows: 12% 1fr 8%;
    height: 100vh;
    width: 100vw;
}