body {
    background-color: skyblue;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-of-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin: 10rem auto;
}

