<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/css/home-page.css">
</head>
<body>
    <section class = "header">
        <h1>Tree Blog</h1>
        <h2>Welcome to our tree blog website!</h2>
    </section>

    <section class = "list-of-links">
        <ul>
            <li>All Posts</li>
            <li>Post A Blog</li>
        </ul>
        <figure>
            <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR6sEC0mSiXAyZmvWBOB4u78l-exMONL5JJP-qDHLyQOcbx4Ia")></img>
        </figure>
    </section>

    <footer>
            <small>&copy;EdwardsInc.</small>
    </footer>
</body>
</html>